/* Font Fira Code & Inter */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Fira Code', 'Inter', sans-serif;
}

/* Start Navbar */
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.logo_container img {
  height: 40px;
  width: auto;
}

.logo_container h1 {
  font-size: 24px;
}

.logo_container h1 span {
  color: #0A6AA2;
}

.navbar_menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar_menu li a {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  transition: 0.3s;
}

.navbar_menu li a:hover {
  color: #0A6AA2;
}

.hamburger_menu {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

  /* Start Responsive */
  @media (max-width : 786px) {
    .hamburger_menu {
      display: block;
    }

    .navbar_menu {
      position: absolute;
      top: 60px;
      right: 30px;
      background-color: white;
      flex-direction: column;
      gap: 15px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: none;
    }

    .navbar_menu.active {
      display: flex;
    }
  }
  /* End Responsive */

/* End Navbar */


/* Start Hero Section */
.hero {
  padding: 0 10%;
  margin-bottom: 80px;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.hero_text {
  flex: 1;
  width: 300px;
  padding-bottom: 3rem;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #03346E;
}

.hero p {
  color: #0A6AA2;
  margin: 20px 0;
  font-family: "inter",sans-serif;
}

.hero_button {
  display: flex;
}

.btn {
  align-items: center;
  background-color: #03346E;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-right: 15px;
}

.btn:hover {
  background-color: #004a99;
}

.social_icons a {
  text-decoration: none;
}

.social_icons a img {
  margin-right: 5px;
  width: 40px;  
}

.hero_image {
  flex: 1;
  min-width: 500px;
  text-align: center;
}

.hero_image img {
  width: 600px;
  height: auto;
}
/* End Hero Section */

/* Start About */
.about {
  background-color: #F0F9FF;
  padding: 200px 13%;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about_image img {
  width: 400px;
  height: auto;
}

.about_text {
  flex: 1;
  margin-left: 120px;
}

.about_text h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.about_text h2 span {
  color: #0A6AA2;
  font-weight: bold;
}

.about_text p {
  font-size: 1rem;
  font-family: "inter",sans-serif;
}
/* End About */

/* Start Divisi */
.divisi {
  text-align: center;
  padding: 60px 10%;
  background-color: #fff;
}

.text_divisi {
  font-size: 2rem;
  color: #407BFF;
  margin-bottom: 40px;
  font-weight: bold;
}

.divisi_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #F0F9FF;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0,3s ease;
  cursor: pointer;
}

.card img {
  width: 70px;
  margin-bottom: 15px;
}

.card p {
  color: #407BFF;
  font-weight: bold;
  font-family: "inter",sans-serif;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}
/* End Divisi */

/* Start Footer */
footer {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background-color: #F0F9FF;
}

footer img {
  width: 200px;
  height: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-section h3 {
  font-size: 18px;
  color: #03346E;
  margin-bottom: 5px;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.footer-section a {
  color: black;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

.footer-section a:hover {
  color: #407BFF;
  text-decoration: underline;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #03346E; 
  font-family: Arial, sans-serif;
}

.copyright {
  font-size: 16px;
  color: white;
}
/* End Footer */

/* Start Event */
.text_event {
  text-align: center;
  padding: 60px 10%;
  color: #407BFF;
}

.event {
  display: flex;
  padding: 5px 5%;
  gap: 20px;
  margin-bottom: 80px;
}

.left p {
  margin-top: 18px;
  font-family: "inter", sans-serif;
  font-size: 20px;
}

.left ol {
  margin-top: 10px;
}
.left ol li {
  margin-left: 20px;
  font-family: "inter", sans-serif;
}

.right_content {
  display: flex;
  margin-bottom: 10px;
}

.right_content p {
  margin-left: 20px;
  margin-top: 45px;
  font-family: "inter", sans-serif;
}
/* End Event */

